$headings: (
  display1-color:   $cool-grey10,
  display2-color:   $cool-grey10,
  display3-color:   $cool-grey10,
  heading1-color:   $cool-grey10,
  heading2-color:   $cool-grey10,
  heading3-color:   $cool-grey10,
  heading4-color:   $cool-grey10,
  body1-color:      $cool-grey10,
  body2-color:      $cool-grey10,
  body3-color:      $cool-grey10,
  body4-color:      $cool-grey10,
  heading5-color:   $cool-grey10,
  heading6-color:   $cool-grey10
);
