$headings: (
  display1-color:   $cool-grey14,
  display2-color:   $cool-grey14,
  display3-color:   $cool-grey14,
  heading1-color:   $cool-grey14,
  heading2-color:   $cool-grey14,
  heading3-color:   $cool-grey14,
  heading4-color:   $cool-grey14,
  body1-color:      $cool-grey14,
  body2-color:      $cool-grey12,
  body3-color:      $cool-grey12,
  body4-color:      $cool-grey14,
  heading5-color:   $cool-grey14,
  heading6-color:   $cool-grey14
);
