*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include font-size($base-font-size, 16);
  box-sizing: border-box;
}

body {
  @include word-break();
  position: relative;
  background: $background-color;
  line-height: calc-target($base-line-height, $base-font-size, 1);
  color: $text-color;
  font-family: $primary-font-stack;
  font-weight: 400;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-blue {
  background-color: map-get($ui-blue-map, background-color);
  background-size: cover;
  color: map-get($ui-blue-map, text-color);

  @include respond-to(700) {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221100%22%20height%3D%22343%22%20viewBox%3D%220%200%201100%20343%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22b%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeGaussianBlur%20stdDeviation%3D%2255%22%2F%3E%3C%2Ffilter%3E%3ClinearGradient%20id%3D%22a%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22550%22%20y1%3D%224%22%20x2%3D%22550%22%20y2%3D%22343%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%230066A0%22%2F%3E%3Cstop%20offset%3D%22.5%22%20stop-color%3D%22%23076699%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23003A74%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath%20fill%3D%22url(%23a)%22%20d%3D%22M0%200h1100v343H0z%22%2F%3E%3Cg%20filter%3D%22url(%23b)%22%3E%3Cg%20fill%3D%22%230E74A0%22%3E%3Cellipse%20cx%3D%2272%22%20cy%3D%22121%22%20rx%3D%2295%22%20ry%3D%2249%22%2F%3E%3Cellipse%20cx%3D%22781%22%20cy%3D%22171%22%20rx%3D%22132%22%20ry%3D%22166%22%2F%3E%3Cellipse%20cx%3D%221041%22%20cy%3D%22231%22%20rx%3D%22135%22%20ry%3D%22160%22%2F%3E%3Cellipse%20cx%3D%22541%22%20cy%3D%22195%22%20rx%3D%22132%22%20ry%3D%22125%22%2F%3E%3C%2Fg%3E%3Cg%20fill%3D%22%230057A0%22%3E%3Cellipse%20cx%3D%22383%22%20cy%3D%2223%22%20rx%3D%22205%22%20ry%3D%22136%22%2F%3E%3Cellipse%20cx%3D%22278%22%20cy%3D%22270%22%20rx%3D%2283%22%20ry%3D%2232%22%2F%3E%3Cellipse%20cx%3D%221083%22%20cy%3D%2223%22%20rx%3D%22117%22%20ry%3D%2258%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
}

.ui-dark {
  background-image: radial-gradient(at 20% 25%, rgba(46, 160, 221, 0.16) 0, rgba(46, 160, 221, 0) 100%),
    radial-gradient(at 60% 50%, rgba(46, 160, 221, 0.12) 0, rgba(46, 160, 221, 0) 100%),
    linear-gradient(to bottom, rgba(46, 160, 221, 0.05) 0, rgba(46, 160, 221, 0) 100%);
  background-color: map-get($ui-dark-map, background-color);
  background-size: 160% 768px, 100% 768px, 100% 768px;
  background-repeat: no-repeat;
  color: map-get($ui-dark-map, text-color);

  @include respond-to(768) {
    background-size: 160% 100%, 100% 100%, 100% 100%;
  }
}

.ui-grey {
  background-color: map-get($ui-grey-map, background-color);
  color: map-get($ui-grey-map, text-color);
}

.ui-light {
  background: $background-color;
  color: $text-color;
}
