.display1 {
  @include display1;
}

.display2 {
  @include display2;
}

.display3 {
  @include display3;
}

h1,
.heading1 {
  @include heading1;
}

h2,
.heading2 {
  @include heading2;
}

h3,
.heading3 {
  @include heading3;
}

.body1 {
  @include body1;
}

.body2 {
  @include body2;
}

.body3 {
  @include body3;
}

.body4 {
  @include body4;
}

h4,
.heading4 {
  @include heading4;
}

h5,
h6,
.heading5 {
  @include heading5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

.hgroup {
  margin-bottom: 14px;

  .display1,
  .display2,
  .display3,
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .heading5,
  .heading6,
  .body1,
  .body2,
  .body3,
  .body4,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }
}

.hgroup--spaced {
  margin-bottom: 24px;
}
