<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>All Digital Styleguide</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="assets/css/style-6b15d1afbd.css">
  <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script src="assets/js/top-49d9619455.js"></script>
</head>
<body ng-app="all_digital">
  <div id="page-app" ng-controller="GlobalController" class="page-app">
    <header id="page-header" class="page-header page-header--payment" role="banner">
      <div class="page-header__wrapper">
        <a href="/#/" class="page-header__logo icon-xfinity" rel="home"><span class="visuallyhidden">Xfinity</span></a>
      </div>
      <div class="page-header__toggle app-class-toggle">
        <button class="app-class-toggle__button app-class-toggle__button--light" ng-click="toggleAppClass('ui-light')"><span class="visuallyhidden">Light</span></button>
        <button class="app-class-toggle__button app-class-toggle__button--dark" ng-click="toggleAppClass('ui-dark')"><span class="visuallyhidden">Dark</span></button>
        <button class="app-class-toggle__button app-class-toggle__button--grey" ng-click="toggleAppClass('ui-grey')"><span class="visuallyhidden">Grey</span></button>
        <button class="app-class-toggle__button app-class-toggle__button--blue" ng-click="toggleAppClass('ui-blue')"><span class="visuallyhidden">Blue</span></button>
      </div>
    </header>
    <div id="page-content" class="page-content page-content--has-sidebar">
      <main id="page-main" class="page-main" role="main">
        <div class="view" ng-view autoscroll="true"></div>
      </main>
      <aside id="page-aside" class="page-aside ui-light" role="complementary">
        <ol>
          <li><a href="#/">Introduction</a></li>
          <li><a href="#/conventions">Conventions and Style</a></li>
          <li><a href="#/fonts">Fonts</a></li>
          <li><a href="#/base">Base Styles</a>
            <ol type="a">
              <li><a href="#/base/typography">Typography</a></li>
              <li><a href="#/base/kitchen-sink">Kitchen Sink</a></li>
              <li><a href="#/base/forms">Forms</a></li>
              <li><a href="#/base/links">Links</a></li>
              <li><a href="#/base/headings">Headings</a></li>
            </ol>
          </li>
          <li><a href="#/components">Components</a>
            <ol type="a">
              <li><a href="#/components/actions">Actions</a></li>
              <li><a href="#/components/buttons">Buttons</a></li>
              <li><a href="#/components/badges">Badges</a></li>
              <li><a href="#/components/page-section">Page Section</a></li>
              <li><a href="#/components/form-control">Form Control</a></li>
              <li><a href="#/components/form-boolean">Form Boolean</a></li>
              <li><a href="#/components/card">Card</a></li>
              <li><a href="#/components/card-group">Card Group</a></li>
              <li><a href="#/components/loading">Loading</a></li>
              <li><a href="#/components/link-group">Link Group</a></li>
            </ol>
          </li>
        </ol>

        <div class="page-aside__version">
          All Digital v1.9.2
        </div>
      </aside>
    </div>
  </div>
</body>
<!--vendor-->
<script src="assets/js/components-2bb6a8fdcc.js"></script>
<!--/vendor-->
<!--app-->
<script src="assets/js/main-ae2b66ab82.js"></script>
<script src="assets/js/templates-cd61316c6d.js"></script>
<script src="assets/js/directives-90e9acc8e9.js"></script>
<!--/app-->
</html>
