$xfinity-standard-fallback:   helvetica, arial, sans-serif;

$xfinity-standard:            'XfinityStandard', #{$xfinity-standard-fallback};
$xfinity-standard-condensed:  'XfinityStandardCondensed', #{$xfinity-standard-fallback};

@mixin xfinity-standard-thin {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Thin.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Thin.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
}

@mixin xfinity-standard-thin-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ThinItalic.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ThinItalic.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
}

@mixin xfinity-standard-extra-light {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ExtraLight.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ExtraLight.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
}

@mixin xfinity-standard-extra-light-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ExtraLightItalic.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ExtraLightItalic.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
}

@mixin xfinity-standard-light {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Light.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Light.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
}

@mixin xfinity-standard-light-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-LightItalic.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-LightItalic.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
}

@mixin xfinity-standard-regular {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Regular.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Regular.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

@mixin xfinity-standard-regular-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-RegularItalic.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-RegularItalic.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
}

@mixin xfinity-standard-medium {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Medium.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Medium.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
}

@mixin xfinity-standard-medium-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-MediumItalic.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-MediumItalic.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
}

@mixin xfinity-standard-bold {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Bold.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Bold.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}

@mixin xfinity-standard-bold-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-BoldItalic.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-BoldItalic.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard/XfinityStandard-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
}

@mixin xfinity-standard-condensed-medium {
  @font-face {
    font-family: 'XfinityStandardCondensed';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Medium.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Medium.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
}

@mixin xfinity-standard-condensed-bold {
  @font-face {
    font-family: 'XfinityStandardCondensed';
    src: url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Bold.woff2') format('woff2'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Bold.woff') format('woff'),
         url('https://sdx.xfinity.com/fonts/latest/Xfinity_Standard_Condensed/XfinityStandardCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}

@mixin xfinity-standard-all {
  @include xfinity-standard-thin;
  @include xfinity-standard-thin-italic;
  @include xfinity-standard-extra-light;
  @include xfinity-standard-extra-light-italic;
  @include xfinity-standard-light;
  @include xfinity-standard-light-italic;
  @include xfinity-standard-regular;
  @include xfinity-standard-regular-italic;
  @include xfinity-standard-medium;
  @include xfinity-standard-medium-italic;
  @include xfinity-standard-bold;
  @include xfinity-standard-bold-italic;
  @include xfinity-standard-condensed-medium;
  @include xfinity-standard-condensed-bold;
}
