/* *************************************************************************
 * Notice to users of All-Digital CSS:
 * -------------------------------------------------------------------------
 * The "Xfinity Standard" family of fonts is proprietary to Comcast,
 * and no rights are granted to you to use any of the "Xfinity Standard"
 * family of fonts.
 * *************************************************************************/

$xfinity-standard-fallback:   helvetica, arial, sans-serif;

$xfinity-standard:            'XfinityStandard', #{$xfinity-standard-fallback};
$xfinity-standard-condensed:  'XfinityStandardCondensed', #{$xfinity-standard-fallback};

@mixin xfinity-standard-thin {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-thin.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
}

@mixin xfinity-standard-thin-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-thinitalic.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }
}

@mixin xfinity-standard-extra-light {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-exlt.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-exlt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
}

@mixin xfinity-standard-extra-light-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-exltitalic.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-exltitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
  }
}

@mixin xfinity-standard-light {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-light.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
}

@mixin xfinity-standard-light-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-lightitalic.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
}

@mixin xfinity-standard-regular {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-regular.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
}

@mixin xfinity-standard-regular-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-regularitalic.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
}

@mixin xfinity-standard-medium {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-medium.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
}

@mixin xfinity-standard-medium-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-mediumitalic.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
}

@mixin xfinity-standard-bold {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-bold.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
}

@mixin xfinity-standard-bold-italic {
  @font-face {
    font-family: 'XfinityStandard';
    src: url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-bolditalic.woff2') format('woff2'),
         url('https://static.cimcontent.net/common-web-assets/fonts/xfinity-standard-optimized/xfinitystandard-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
}

@mixin xfinity-standard-condensed-medium {
  @font-face {
    font-family: 'XfinityStandardCondensed';
    src: url('https://static.cimcontent.net/fonts/latest/Xfinity_Standard_Condensed/xfinitystandardCondensed-medium.woff2') format('woff2'),
         url('https://static.cimcontent.net/fonts/latest/Xfinity_Standard_Condensed/xfinitystandardCondensed-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
}

@mixin xfinity-standard-condensed-bold {
  @font-face {
    font-family: 'XfinityStandardCondensed';
    src: url('https://static.cimcontent.net/fonts/latest/Xfinity_Standard_Condensed/xfinitystandardCondensed-bold.woff2') format('woff2'),
         url('https://static.cimcontent.net/fonts/latest/Xfinity_Standard_Condensed/xfinitystandardCondensed-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
}

@mixin xfinity-standard-all {
  @include xfinity-standard-thin;
  @include xfinity-standard-thin-italic;
  @include xfinity-standard-extra-light;
  @include xfinity-standard-extra-light-italic;
  @include xfinity-standard-light;
  @include xfinity-standard-light-italic;
  @include xfinity-standard-regular;
  @include xfinity-standard-regular-italic;
  @include xfinity-standard-medium;
  @include xfinity-standard-medium-italic;
  @include xfinity-standard-bold;
  @include xfinity-standard-bold-italic;
  @include xfinity-standard-condensed-medium;
  @include xfinity-standard-condensed-bold;
}
