// ==========================================================================
// site specific colors and overrides
// ==========================================================================

// brand colors
$blue-genie:        #2b9cd8;
$blue-berry:        #1f6f9a;
$blue-sky:          #0272b6;
$blue-ocean:        #00619a;
$blue-moon:         #015383;
$blue-knight:       #051219;
$blue-jeans:        #0b7dbf;

$red-cherry:        #c90318;

$yellow-banana:     #fece00;
$yellow-pumpkin:    #ffa700;

$green-lime:        #5bc942;
$green-grass:       #19a926;
$green-forest:      #007B76;

// additional colors
$minty:             #65d0a7;
$lagoon:            #1bcfe1;
$green-tea:         #1ee2c9;
$smolder:           #1f232e;
$urban:             #051219;
$red-watermelon:    #fb543f;
$turq:              #50c3d5;
$haute:             #ff5a5a;
$tangerine:         #ff9271;
$berry:             #ff638d;
$bramble:           #bc43d3;
$reign:             #7155d3;

// greys
$white:             #fff;
$grey-5:            #f2f2f2;
$grey-9:            #e8e8e8;
$grey-18:           #d1d1d1;
$grey-27:           #bababa;
$grey-36:           #a3a3a3;
$grey-45:           #8c8c8c;
$grey-54:           #757575;
$grey-63:           #5e5e5e;
$grey-72:           #474747;
$grey-81:           #303030;
$grey-90:           #191919;
$black:             #000;

// cool greys
$cool-grey1:        #fbfcfc;
$cool-grey2:        #f2f4f5;
$cool-grey3:        #eef1f3;
$cool-grey4:        #ebeef0;
$cool-grey5:        #e6eaed;
$cool-grey6:        #dde2e6;
$cool-grey7:        #b1b9bf;
$cool-grey8:        #6c747c;
$cool-grey9:        #44484c;
$cool-grey10:       #191919;

// ==========================================================================
// functional color palette
// ==========================================================================

// general
$text-color:        $cool-grey10;
$link-color:        $blue-sky;
$link-hover-color:  $blue-sky;
$background-color:  $white;

// color degrees
$primary:           $blue-sky;
$secondary:         $blue-berry;

// ui colors
$ui-success:        $green-lime;
$ui-info:           $blue-sky;
$ui-warning:        $yellow-banana;
$ui-danger:         $red-cherry;

// ==========================================================================
// base elements
// ==========================================================================

@import 'variables/headings';
@import 'variables/forms';

// ==========================================================================
// components
// ==========================================================================

@import 'variables/buttons';
@import 'variables/page-section';
@import 'variables/form-controls';
@import 'variables/card';
@import 'variables/wrapper';

// ==========================================================================
// font stacks
// ==========================================================================

$base-font-size:            14 !default;
$base-line-height:          22 !default;
$primary-font-stack:        $xfinity-standard;
$secondary-font-stack:      $xfinity-standard-condensed;

// ==========================================================================
// theme maps
// ==========================================================================

@import 'themes/dark';
@import 'themes/blue';
@import 'themes/grey';
