$buttons: (
  button-text-color:                                  $cool-grey1,
  button-border-color:                                $cool-grey1,
  button-background-color:                            transparent,
  button-text-color-hover:                            $blue-ocean,
  button-border-color-hover:                          $white,
  button-background-color-hover:                      $white,
  button-text-color-active:                           $blue-moon,
  button-border-color-active:                         $cool-grey3,
  button-background-color-active:                     $cool-grey3,

  button-primary-text-color:                          $blue-sky,
  button-primary-border-color:                        $cool-grey1,
  button-primary-background-color:                    $cool-grey1,
  button-primary-text-color-hover:                    $blue-ocean,
  button-primary-border-color-hover:                  $white,
  button-primary-background-color-hover:              $white,
  button-primary-text-color-active:                   $blue-moon,
  button-primary-border-color-active:                 $cool-grey3,
  button-primary-background-color-active:             $cool-grey3,

  button-secondary-border-color:                      transparent,
  button-secondary-border-color-hover:                transparent,
  button-secondary-text-color-hover:                  $cool-grey1,
  button-secondary-text-color-active:                 $cool-grey2
);
