.alignright,
.alignleft,
.aligncenter {
  display: block;
  clear: both;
  margin: 0 auto 20px;

  > img,
  > a > img {
    margin: 0 auto;
  }
}

.alignnone {
  display: block;
  clear: both;
  margin: 0 0 20px;
}

@include respond-to(768) {
  .alignright {
    float: right;
    clear: right;
    margin: 0 0 20px 20px;
  }

  .alignleft {
    float: left;
    clear: left;
    margin: 0 20px 20px 0;
  }

  .alignright,
  .alignleft {
    > img,
    > a > img {
      margin: 0;
    }
  }
}
