*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include font-size($base-font-size, 16);
  box-sizing: border-box;
}

body {
  @include word-break();
  position: relative;
  background: $background-color;
  line-height: calc-target($base-line-height, $base-font-size, 1);
  color: $text-color;
  font-family: $primary-font-stack;
  font-weight: 400;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-blue {
  background-color: map-get($ui-blue-map, background-color);
  color: map-get($ui-blue-map, text-color);
}

.ui-dark {
  background-color: map-get($ui-dark-map, background-color);
  color: map-get($ui-dark-map, text-color);
}

.ui-grey {
  background-color: map-get($ui-grey-map, background-color);
  color: map-get($ui-grey-map, text-color);
}

.ui-light {
  background-color: $background-color;
  color: $text-color;
}
