fieldset {
  margin: 0 0 1.5em;
}

.legend,
legend {
  @include heading3;
}

.label,
label {
  @include body2;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}

[type=text],
[type=email],
[type=url],
[type=tel],
[type=password],
[type=search],
[type=number],
[type=date],
textarea,
select,
.readonly {
  font-size: $text-input-font-size;
  display: inline-block;
  margin-bottom: calc-target(12);
  border: 1px solid $text-input-border-color;
  border-radius: 3px;
  background-color: $text-input-background-color;
  padding: calc-target(16, 18) calc-target(20, 18);
  width: 100%;
  max-width: 480px;
  color: $text-input-text-color;
  appearance: none;
  line-height: normal;

  @include respond-to(768) {
    font-size: $text-input-font-size-desktop;
  }

  @include ui-dark {
    color: map-get($ui-dark-map, text-color);
    border: 1px solid map-get($ui-dark-map, text-input-border-color);
    background-color: map-get($ui-dark-map, text-input-background-color);
    color: map-get($ui-dark-map, text-input-text-color);
  }

  @include ui-grey {
    border: 1px solid map-get($ui-grey-map, text-input-border-color);
    background-color: map-get($ui-grey-map, text-input-background-color);
    color: map-get($ui-grey-map, text-input-text-color);
  }

  @include ui-light {
    border: 1px solid $text-input-border-color;
    background-color: $text-input-background-color;
    color: $text-input-text-color;
  }

  &:focus {
    outline: none;
    border-color: $text-input-border-color-focus;
    background-color: $text-input-background-color-focus;

    @include ui-dark {
      background-color: map-get($ui-dark-map, text-input-background-color-focus);
    }

    @include ui-grey {
      background-color: map-get($ui-grey-map, text-input-background-color-focus);
    }

    @include ui-light {
      background-color: $text-input-background-color-focus;
    }
  }

  &.error {
    border-color: $text-input-border-color-error;
    background-color: $text-input-background-color-error;

    @include ui-dark {
      background-color: map-get($ui-dark-map, text-input-background-color-error);
    }

    @include ui-grey {
      background-color: map-get($ui-grey-map, text-input-background-color-error);
    }

    @include ui-light {
      background-color: $text-input-background-color-error;
    }
  }
}

// scss-lint:disable QualifyingElement
// need to override normalize
input[type=search] {
  box-sizing: inherit;
  appearance: none;
}

select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2218%22%20height%3D%2211%22%20viewBox%3D%220%200%2018%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EDown-Arrow%3C%2Ftitle%3E%3Cpath%20d%3D%22M16.75%201.25l-8%208-8-8%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230272b6%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 17px 9px;
  padding-right: 40px;

  &::-ms-expand {
    display: none;
  }
}

[type=checkbox],
[type=radio] {
  margin: 0 calc-target(10) calc-target(10) 0;

  + label {
    display: inline;
    max-width: 375px;
  }
}

[type=submit],
[type=button] {
  @include button;
}

[type=submit]:hover,
[type=button]:hover {
  @include button-hover;
}

[type=submit]:active,
[type=submit]:active,
[type=button]:active,
[type=button]:active {
  @include button-active;
}

textarea {
  height: 90px;
}

input::placeholder {
  color: $cool-grey11;
}

// override normalize
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
