a,
.link {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $link-active-color;
  }

  @include ui-dark {
    color: map-get($ui-dark-map, link-color);

    &:active {
      color: map-get($ui-dark-map, link-active-color);
    }
  }

  @include ui-blue {
    color: map-get($ui-blue-map, link-color);

    &:active {
      color: map-get($ui-blue-map, link-color);
    }
  }
}

[role="button"] {
  cursor: pointer;
}
