b,
strong {
  // boldest font weight
  // include is medium
  font-weight: 500;
}

p,
ul,
ol,
dl,
address {
  @include font-size($base-font-size);
  margin: 0 0 1.5em;
  padding: 0;
}

ul,
ol,
dd {
  margin-left: 1.5em;
}

li ul,
li ol {
  margin-bottom: 0;
}

li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.address {
  .street-address {
    display: block;
  }
}

pre {
  margin: 0 0 1.5em;
  background: $cool-grey4;
  padding: 0.5em;
  word-wrap: normal;
}

.pre-line {
  white-space: pre-line;
}

blockquote {
  @include font-size(20);
  display: block;
  margin: 0 0 20px;
  border-left: 3px solid $cool-grey4;
  padding-left: 10px;
  overflow: hidden;

  > :last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 0 0 1.5em;

  @include ui-dark {
    border-color: rgba($white, 0.15);
  }

  @include ui-grey {
    border-color: rgba($black, 0.2);
  }

  @include ui-light {
    border-color: rgba($black, 0.15);
  }
}

.no-bottom-margin {
  margin-bottom: 0;
}
