@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

@include respond-to(768) {
  .mobile {
    display: none !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.mb0 {
  margin-bottom: 0;
}

.mb6 {
  margin-bottom: 6px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb30 {
  margin-bottom: 30px;
}