// ==========================================================================
// default button
// ==========================================================================

$button-text-color:                           $blue-sky;
$button-background-color:                     transparent;
$button-border-color:                         $blue-sky;

//hover
$button-text-color-hover:                     $white;
$button-background-color-hover:               $blue-ocean;
$button-border-color-hover:                   $blue-ocean;

//active
$button-text-color-active:                    $white;
$button-background-color-active:              $blue-moon;
$button-border-color-active:                  $blue-moon;

// ==========================================================================
// primary button
// ==========================================================================

$button-primary-text-color:                   $white;
$button-primary-background-color:             $blue-sky;
$button-primary-border-color:                 $blue-sky;

//hover
$button-primary-text-color-hover:             $white;
$button-primary-background-color-hover:       $blue-ocean;
$button-primary-border-color-hover:           $blue-ocean;

//active
$button-primary-text-color-active:            $white;
$button-primary-background-color-active:      $blue-moon;
$button-primary-border-color-active:          $blue-moon;
