// ==========================================================================
// default card
// ==========================================================================

$card-text-color:                           $cool-grey14;
$card-background-color:                     $white;
$card-border-color:                         $cool-grey6;

// ==========================================================================
// secondary card
// ==========================================================================

$card-secondary-text-color:                 $cool-grey14;
$card-secondary-background-color:           $cool-grey1;
$card-secondary-border-color:               $cool-grey6;
