// default
$text-input-border-color:             $cool-grey11 !default;
$text-input-background-color:         rgba($white, 0.75) !default;
$text-input-text-color:               inherit !default;
$text-input-font-size:                16px !default;
$text-input-font-size-desktop:        18px !default;

// focus
$text-input-border-color-focus:       $blue-sky !default;
$text-input-background-color-focus:   $white !default;

// error
$text-input-border-color-error:       $red-cherry !default;
$text-input-background-color-error:   $white !default;
