$display1-color:  $cool-grey14;
$display2-color:  $cool-grey14;
$display3-color:  $cool-grey14;
$heading1-color:  $cool-grey14;
$heading2-color:  $cool-grey14;
$heading3-color:  $cool-grey14;
$body1-color:     $cool-grey14;
$body2-color:     $cool-grey12;
$body3-color:     $cool-grey12;
$body4-color:     $cool-grey14;
$heading4-color:  $cool-grey14;
$heading5-color:  $cool-grey14;

$display1-size:   50;
$display2-size:   40;
$display3-size:   30;
$heading1-size:   24;
$heading2-size:   20;
$heading3-size:   18;
$body1-size:      16;
$body2-size:      16;
$body3-size:      14;
$body4-size:      12;
$heading4-size:   15;
$heading5-size:   12;

$display1-height:   75;
$display2-height:   55;
$display3-height:   40;
$heading1-height:   32;
$heading2-height:   30;
$heading3-height:   27;
$body1-height:      24;
$body2-height:      24;
$body3-height:      21;
$body4-height:      18;
$heading4-height:   22;
$heading5-height:   18;

// Desktop

$display1-size-large:   70;
$display2-size-large:   50;
$display3-size-large:   40;
$heading1-size-large:   30;
$heading2-size-large:   24;
$heading3-size-large:   20;
$body1-size-large:      18;

$display1-height-large:   90;
$display2-height-large:   65;
$display3-height-large:   55;
$heading1-height-large:   40;
$heading2-height-large:   36;
$heading3-height-large:   30;
$body1-height-large:      27;
