$forms: (
  text-input-border-color:             transparent,
  text-input-background-color:         rgba($white, 0.15),
  text-input-text-color:               $white,

  text-input-background-color-focus:   rgba($white, 0.1),

  text-input-background-color-error:   rgba($white, 0.1)
);
