.action {
  clear: both;
}

.action--centered {
  text-align: center;

  .action__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;
  }
}

.action--right {
  @include respond-to(768) {
    text-align: right;
    overflow: hidden;
  }

  .action__item {
    @include respond-to(768) {
      float: right;
      margin-left: 10px;
    }
  }
}

.action__item {
  .button {
    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
}

.action--right-centered {
  @include respond-to(768) {
    display: inline-block;
    overflow: hidden;
  }

  .action__item {
    @include respond-to(768) {
      padding: 0 6px;
      float: right;
    }
  }
}
