.badge {
  @include heading5;
  display: inline-block;
  padding: calc-target(2, $heading5-size) calc-target(6, $heading5-size);
  color: $cool-grey12;
  border-radius: calc-target(3, $heading5-size);
  background-color: $cool-grey6;

  + .badge {
    margin-left: 6px;
  }
}

.badge--success {
  background-color: $minty;
  color: $cool-grey14;
}

.badge--info {
  background-color: $blue-deep;
  color: $white;
}

.badge--warning {
  background-color: $yellow-pumpkin;
}

.badge--danger {
  background-color: $red-cherry;
  color: $white;
}
