.button {
  @include button;

  &:hover,
  &.pseudo-class-hover {
    @include button-hover;
  }

  &:active,
  &.pseudo-class-active {
    @include button-active;
  }

  &:disabled {
    opacity: 0.4;
    border-color: $button-border-color !important;
    background-color: $button-background-color !important;
    color: $button-text-color !important;
    cursor: default;
    outline: none;
  }

  &.is-loading {
    border-color: $button-primary-border-color !important;
    background-color: $button-primary-background-color !important;
    color: $button-primary-text-color !important;
    opacity: 1;

    &::before {
      display: inline-block;
      content: '';
      height: 1em;
      width: 1em;
      margin-top: calc-target(5, $body2-size);
      margin-right: calc-target(5, $body2-size);
      background-size: cover;
      vertical-align: top;
      animation: spin 1s linear infinite;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M256%20512c-68.38%200-132.667-26.63-181.02-74.98C26.63%20388.667%200%20324.38%200%20256c0-48.42%2013.59-95.567%2039.303-136.346%2025-39.648%2060.332-71.686%20102.178-92.65l21.5%2042.916c-34.018%2017.042-62.745%2043.093-83.074%2075.335C59.033%20178.36%2048%20216.655%2048%20256c0%20114.69%2093.31%20208%20208%20208s208-93.31%20208-208c0-39.346-11.033-77.64-31.905-110.745-20.33-32.242-49.057-58.292-83.075-75.335l21.5-42.916c41.846%2020.964%2077.18%2053.002%20102.178%2092.65C498.408%20160.434%20512%20207.58%20512%20256c0%2068.38-26.63%20132.667-74.98%20181.02C388.667%20485.37%20324.38%20512%20256%20512z%22%2F%3E%3C%2Fsvg%3E');
    }
  }

  @include ui-dark {
    color: map-get($ui-dark-map, button-text-color);

    &:hover,
    &.pseudo-class-hover {
      color: map-get($ui-dark-map, button-text-color-hover);
    }
  }

  @include ui-blue {
    color: map-get($ui-blue-map, button-text-color);
    border-color: map-get($ui-blue-map, button-border-color);
    background-color: map-get($ui-blue-map, button-background-color);

    &:hover,
    &.pseudo-class-hover {
      color: map-get($ui-blue-map, button-text-color-hover);
      border-color: map-get($ui-blue-map, button-border-color-hover);
      background-color: map-get($ui-blue-map, button-background-color-hover);
    }

    &:active,
    &.pseudo-class-active {
      color: map-get($ui-blue-map, button-text-color-active);
      border-color: map-get($ui-blue-map, button-border-color-active);
      background-color: map-get($ui-blue-map, button-background-color-active);
    }

    &:disabled {
      color: map-get($ui-blue-map, button-text-color) !important;
      border-color: map-get($ui-blue-map, button-border-color) !important;
      background-color: map-get($ui-blue-map, button-background-color) !important;
    }
  }

  @include ui-grey {
    color: map-get($ui-grey-map, button-text-color);

    &:hover,
    &.pseudo-class-hover {
      color: map-get($ui-grey-map, button-text-color-hover);
    }
  }

  @include ui-light {
    color: $button-text-color;

    &:hover,
    &.pseudo-class-hover {
      color: $button-text-color-hover;
    }
  }

  + [class*="button"] {
    margin-left: 10px;
  }
}

.button--primary {
  border-color: $button-primary-border-color;
  background-color: $button-primary-background-color;
  color: $button-primary-text-color;

  &:hover,
  &.pseudo-class-hover {
    border-color: $button-primary-border-color-hover;
    background-color: $button-primary-background-color-hover;
    color: $button-primary-text-color-hover;
  }

  &:active,
  &.pseudo-class-active {
    border-color: $button-primary-border-color-active;
    background-color: $button-primary-background-color-active;
  }

  &:disabled {
    border-color: $button-primary-border-color !important;
    background-color: $button-primary-background-color !important;
    color: $button-primary-text-color !important;
  }

  @include ui-dark {
    border-color: map-get($ui-dark-map, button-primary-border-color);
    background-color: map-get($ui-dark-map, button-primary-background-color);
    color: map-get($ui-dark-map, button-primary-text-color);

    &:hover,
    &.pseudo-class-hover {
      border-color: map-get($ui-dark-map, button-primary-border-color-hover);
      background-color: map-get($ui-dark-map, button-primary-background-color-hover);
    }

    &:active,
    &.pseudo-class-active {
      border-color: map-get($ui-dark-map, button-primary-border-color-active);
      background-color: map-get($ui-dark-map, button-primary-background-color-active);
    }
  }

  @include ui-blue {
    border-color: map-get($ui-blue-map, button-primary-border-color);
    background-color: map-get($ui-blue-map, button-primary-background-color);
    color: map-get($ui-blue-map, button-primary-text-color);

    &:hover,
    &.pseudo-class-hover {
      border-color: map-get($ui-blue-map, button-primary-border-color-hover);
      background-color: map-get($ui-blue-map, button-primary-background-color-hover);
      color: map-get($ui-blue-map, button-primary-text-color-hover);
    }

    &:active,
    &.pseudo-class-active {
      border-color: map-get($ui-blue-map, button-primary-border-color-active);
      background-color: map-get($ui-blue-map, button-primary-background-color-active);
      color: map-get($ui-blue-map, button-primary-text-color-active);
    }

    &:disabled {
      border-color: map-get($ui-blue-map, button-primary-border-color) !important;
      background-color: map-get($ui-blue-map, button-primary-background-color) !important;
      color: map-get($ui-blue-map, button-primary-text-color) !important;
    }
  }

  @include ui-grey {
    color: map-get($ui-grey-map, button-primary-text-color);
  }

  @include ui-light {
    color: $button-primary-text-color;
  }
}

.button--utility {
  border-radius: 3px;
}

.button--small {
  @include font-size($body3-size);
  min-width: 120px;
}

.button--large {
  @include font-size($body1-size-large);
}

.button--full-width {
  display: block;
  width: 100%;
}

.button--text {
  @include button-text;

  &:hover,
  &.pseudo-class-hover {
    background-color: transparent;
    border-color: transparent;
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
    border-color: transparent;
    color: $link-hover-color;
  }

  @include ui-dark {
    color: map-get($ui-dark-map, link-color);

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: map-get($ui-dark-map, link-hover-color);
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
      color: map-get($ui-dark-map, link-hover-color);
    }
  }

  @include ui-blue {
    color: map-get($ui-blue-map, link-color);

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: map-get($ui-blue-map, link-color);
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
      color: map-get($ui-blue-map, link-color);
    }
  }
}
