.card {
  display: block;
  margin: 0 0 12px #{-($wrapper-gutters + 1px)};
  width: calc(100% + #{($wrapper-gutters * 2 + 2px)});
  padding: 12px;
  border: 1px solid $card-border-color;
  background: $card-background-color;
  color: $card-text-color;
  position: relative;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  @include respond-to(768) {
    padding: 18px 24px;
    width: auto;
    margin-left: 0;
  }

  @include ui-dark {
    background: rgba(255, 255, 255, 0.1);
    border-color: transparent;
  }

  @include ui-blue {
    background: rgba(255, 255, 255, 0.1);
    border-color: transparent;
  }
}

a.card,
.card--is-link,
button.card {
  color: inherit;
  font-weight: inherit;
  font-size: 1rem;
  text-align: left;

  @include respond-to(768) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background: $white;
    border-color: $blue-sky;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
  }
}

.card__content {
  margin-bottom: 0;
  flex-grow: 1;

  > :last-child {
    margin-bottom: 0;
  }

  + .card__content {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid $card-border-color;
  }
}

.card--secondary {
  background: $card-secondary-background-color;
}

.card--form-control {
  position: relative;

  > .label,
  > .form-control {
    margin-bottom: 0;
  }
}

.card--success {
  border-left: 5px solid $minty;
}

.card--info {
  border-left: 5px solid $ui-info;
}

.card--warning {
  border-left: 5px solid $yellow-pumpkin;
}

.card--danger {
  border-left: 5px solid $ui-danger;
}

.card__action {
  flex-grow: 0;
  flex-shrink: 0;

  > :last-child {
    margin-bottom: 0;
  }
}

.card--action-right {
  display: flex;

  .card__content {
    text-align: left;
  }

  .card__action {
    padding-left: 24px;
    text-align: right;
  }
}

.card--action-right-at-768 {
  @include respond-to(768) {
    display: flex;
  }

  .card__content {
    @include respond-to(768) {
      text-align: left;
    }
  }

  .card__content + .card__action {
    padding-top: 12px;

    @include respond-to(768) {
      padding-top: 0;
    }
  }

  .card__action {
    @include respond-to(768) {
      padding-left: 24px;
      text-align: right;
    }
  }
}

.card--flex-start {
  align-items: flex-start;
}

.card--has-media {
  .card__content {
    padding-left: 64px;
  }
}

.card--has-media-at-768 {
  .card__media {
    display: none;

    @include respond-to(768) {
      display: block;
    }
  }

  .card__content {
    @include respond-to(768) {
      padding-left: 64px;
    }
  }
}

.card__media {
  @include vertical-align;
  left: 6px;
  margin-bottom: 0;
  text-align: center;
  width: 60px;

  @include respond-to(768) {
    left: 12px;
  }
}

.card__date {
  margin-bottom: 0;

  @include respond-to(768) {
    margin-bottom: 0;
    margin-right: 12px;
    text-align: center;
    width: 55px;
  }
}

.card__date-item {
  @include respond-to(768) {
    display: block;
  }
}

.card__date-item--time {
  margin-left: 5px;

  @include respond-to(768) {
    margin-left: 0;
  }
}

.card--centered-text {
  text-align: center;
}

.card--loading-dots {
  height: 80px;

  .loading {
    background: none;
  }

  .loading__content {
    width: 40px;
    height: 40px;
    background: none;
  }

  .loading__dot {
    margin: 0 2px;
    width: 6px;
    height: 6px;
    background: $cool-grey8;
  }
}
