.card-group {
  margin-bottom: 24px;
  @include boxShadow;
}

.card-group__item {
  border-top: 1px solid $card-border-color;

  &:first-child {
    border-top: 0;

    > .card {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &:last-child {
    > .card {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  > .card {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
