.card-group {
  margin-bottom: 24px;
}

.card-group--small-margin {
  margin-bottom: 12px;
}

.card-group__item {
  margin-top: -1px;

  &:first-child {
    margin-top: 0;

    > .card {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &:last-child {
    > .card {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  > .card {
    margin-bottom: 0;
    border-radius: 0;
  }
}
