.form-control--boolean {
  max-width: none;

  .form-control__label {
    display: inline-block;
    position: relative;
    float: none;
    font-size: 1em;
    margin-bottom: 0;
    padding: 1px 0 1px 40px;
    max-width: none;

    &::before {
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      content: '';
      width: 22px;
      height: 22px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.heading1,
    &.heading2 {
      &::before {
        top: 7px;
      }
    }
  }

  input {
    @include visually-hidden();
  }

  input:focus ~ .form-control__label::before {
    outline: 1px dotted $blue-sky;
  }

  input:disabled ~ .form-control__label {
    opacity: 0.4;
    cursor: default;
    outline: none;
  }

  input[type="checkbox"] ~ .form-control__label::before {
    border-radius: 3px;
    background-color: $cool-grey2;
    border: 1px solid $cool-grey11;
  }

  input[type="checkbox"]:checked ~ .form-control__label::before {
    background-color: $blue-sky;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9.30237317,15.0575648%20L6.19035258,11.906109%20C5.93654914,11.6490893%205.93654914,11.2312677%206.19035258,10.9742481%20C6.44415601,10.7172285%206.85674929,10.7172285%207.11055273,10.9742481%20L9.76052091,13.6591145%20L16.1394473,7.19276471%20C16.3932507,6.9357451%2016.8045424,6.9357451%2017.0596474,7.19276471%20C17.3134509,7.44978432%2017.3134509,7.86760594%2017.0596474,8.12462555%20L10.2212718,15.0575648%20C10.1015286,15.1801434%209.93623098,15.25%209.76312402,15.25%20C9.59131862,15.25%209.426021,15.1801434%209.30237317,15.0575648%20Z%22%2F%3E%3C%2Fsvg%3E');
    border-color: $blue-sky;
  }

  input[type="radio"] ~ .form-control__label::before {
    border-radius: 50%;
    background: $cool-grey2;
    border: 1px solid $cool-grey11;
  }

  input[type="radio"]:checked ~ .form-control__label::before {
    background: $cool-grey2;
    border: 6px solid $blue-sky;
  }

  @include ui-dark {
    input[type="checkbox"] ~ .form-control__label::before,
    input[type="radio"] ~ .form-control__label::before {
      border-color: $cool-grey8;
      background-color: transparent;
    }

    input[type="checkbox"]:checked ~ .form-control__label::before,
    input[type="radio"]:checked ~ .form-control__label::before {
      border-color: $blue-deep;
    }

    input[type="radio"]:checked ~ .form-control__label::before {
      background-color: $cool-grey2;
    }

    input[type="checkbox"]:checked ~ .form-control__label::before {
      background-color: $blue-deep;
    }
  }
}
