$form-control: (
  max-width:              480px,
  inline-label-width:     224px
);

.form-control {
  @include clearfix;
  clear: both;
  margin-bottom: 16px;
  max-width: map-get($form-control, max-width);

  @include respond-to(768) {
    margin-bottom: 26px;
  }

  input,
  textarea,
  select,
  .readonly {
    margin-bottom: 0;
    max-width: none;
  }
}

.form-control__helper {
  margin: 0;
  padding-bottom: 5px;

  input + & {
    padding-top: 5px;
    padding-bottom: 0;
  }
}

.form-control__label-text {
  display: block;
  margin-bottom: 0;
}

.form-control__label-body {
  display: block;

  &.heading5 {
    margin-bottom: 0;
  }
}

.form-control__input {
  clear: both;
  position: relative;
}

.form-control__error,
label.error {
  @include font-size($body3-size);
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  clear: both;
  color: $red-cherry;
}

.form-control__note {
  display: inline-block;
  margin: 0;
}

.form-control--primary {
  [type=text],
  [type=email],
  [type=url],
  [type=tel],
  [type=password],
  [type=search],
  [type=number],
  [type=date],
  textarea,
  select,
  .readonly {
    @include ui-dark {
      background-color: $white;
      color: $text-color;
      border-color: $text-input-border-color;
    }

    &:focus {
      @include ui-dark {
        border-color: $text-input-border-color-focus;
        background-color: $text-input-background-color-focus;
      }
    }
  }
}

.form-control--inline {
  display: flex;
  max-width: map-get($form-control, max-width) + map-get($form-control, inline-label-width);

  > .form-control__label {
    padding-top: 17px;
    width: map-get($form-control, inline-label-width);
    margin-right: 12px;
  }

  > .form-control__input {
    flex: 1;
  }
}

.form-control--inline-at-768 {
  @include respond-to(768) {
    display: flex;
    max-width: map-get($form-control, max-width) + map-get($form-control, inline-label-width);
  }

  > .form-control__label {
    @include respond-to(768) {
      padding-top: 17px;
      width: map-get($form-control, inline-label-width);
      margin-right: 12px;
    }
  }

  > .form-control__input {
    @include respond-to(768) {
      flex: 1;
    }
  }
}
