.form-control-group {
  > .form-control,
  > .form-control-group {
    margin-bottom: 10px;

    @include respond-to(768) {
      margin-bottom: 16px;
    }
  }
}

.form-control-group__helper {
  clear: both;
  position: relative;
  top: -10px;
  margin-bottom: 10px;
}

.form-control-group--inline {
  @include clearfix;

  > .form-control,
  > .form-control-group {
    padding-right: 16px;
    max-width: 250px;
    float: left;
    clear: none;
    vertical-align: top;
  }
}

.form-control-group--inline-at-768 {
  @include respond-to(768) {
    @include clearfix;
  }

  > .form-control,
  > .form-control-group {
    @include respond-to(768) {
      padding-right: 12px;
      max-width: 250px;
      float: left;
      clear: none;
      vertical-align: top;
    }
  }
}

.form-control-group--split {
  width: calc(100% + 24px);
  margin-left: -12px;
  font-size: 0;
  letter-spacing: normal;

  > .form-control,
  > .form-control-group {
    display: inline-block;
    padding: 0 12px;
    width: 50%;
    vertical-align: top;
    font-size: #{$base-font-size}px; //overcome font-size 0 for inline block
    letter-spacing: calc-target(0.2);
  }
}

.form-control-group--split-at-768 {
  @include respond-to(768) {
    width: calc(100% + 24px);
    margin-left: -12px;
    font-size: 0;
    letter-spacing: normal;
  }

  > .form-control,
  > .form-control-group {
    @include respond-to(768) {
      display: inline-block;
      padding: 0 12px;
      width: 50%;
      vertical-align: top;
      font-size: #{$base-font-size}px; //overcome font-size 0 for inline block
      letter-spacing: calc-target(0.2);
    }
  }
}

.form-control-group--phone {
  @include respond-to(768) {
    width: calc(100% + 8px);
  }

  > .form-control.phone {
    @include respond-to(768) {
      width: 60%;
      max-width: 292px;
    }
  }

  > .form-control.phone-type {
    @include respond-to(768) {
      width: 40%;
      max-width: 196px;
    }

    &::before {
      @include respond-to(768) {
        margin-bottom: 5px;
        height: calc-target(28);
        display: block;
        content: '';
      }
    }
  }
}

.form-control-group--name {
  width: calc(100% + 8px);

  .form-control {
    width: 50%;
  }
}

.form-control-group--address {
  @include clearfix;
  margin-bottom: 0;
  padding-left: 8px;

  @include respond-to(768) {
    width: 50%;
    float: right;
  }

  .form-control-group--inline {
    padding-bottom: 0;
  }

  .form-control.street-name {
    margin-bottom: 10px;
  }

  .form-control.apt-suite {
    max-width: 150px;
    margin-bottom: 10px;
  }

  .form-control.city {
    max-width: 300px;
    margin-bottom: 10px;
  }

  .form-control.state {
    max-width: 150px;
  }

  .form-control.zip {
    max-width: 150px;
  }
}

.form-control-group--card {
  > .form-control--boolean {
    margin-bottom: 0;
    padding: 20px;
    background: $white;
    border-top: 1px solid $cool-grey5;

    &:first-child {
      border-top: 0;
    }
  }
}
