.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($smolder, 0.85);
  z-index: 1;

  .page-section & {
    position: absolute;
    background-color: $cool-grey3;
  }

  @include ui-blue {
    background-color: transparent;
  }
}

.loading__content {
  @include horizontal-vertical-align();
  background-color: rgba($cool-grey8, 0.2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 0;
  text-align: center;

  .page-section & {
    background-color: $cool-grey8;
  }

  @include ui-blue {
    background-color: rgba($cool-grey8, 0.2);
  }
}

.loading__dots {
  @include vertical-align();
  right: 0;
  left: 0;
}

.loading__dot {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: 0 2px;
  width: 13px;
  height: 13px;
  animation: bounce-delay 1.4s infinite ease-in-out both;
}

.loading__dot:nth-child(1) {
  animation-delay: -.32s;
}

.loading__dot:nth-child(2) {
  animation-delay: -.16s;
}
