.page-section {
  @include clearfix();
  position: relative;
  clear: both;

  &.ui-grey + .ui-grey {
    .page-section__content {
      padding-top: 0;
    }
  }
}

.page-section__wrapper {
  @include wrapper;
}

.page-section__content {
  padding: 30px 0;

  > :last-child {
    margin-bottom: 0;
  }
}

.page-section--centered-text {
  text-align: center;

  hr {
    margin-right: auto;
    margin-left: auto;
    max-width: 50px;
  }
}

.page-section--overlay {
  background-size: cover;
  background-position: center center;

  .page-section__content {
    max-width: 600px;
    color: $white;

    @include respond-to(768) {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .page-section__content--no-bg {
    background: none !important;
  }

  &.ui-dark {
    background-attachment: scroll;

    .page-section__content {
      background: map-get($ui-dark-map, page-section-overlay-background-color);
    }
  }
}

.page-section--overlay-centered {
  .page-section__content {
    margin: 0 auto;
  }
}

.page-section--overlay-right,
.page-section--overlay-image-left {
  .page-section__content {
    width: 100%;
    float: right;
  }
}

.page-section--medium {
  .page-section__content {
    padding-top: 40px;
    padding-bottom: 40px;

    @include respond-to(768) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

.page-section--tall {
  .page-section__content {
    padding-top: 50px;
    padding-bottom: 50px;

    @include respond-to(768) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}
