$buttons: (
  button-text-color:                                  $white,

  button-secondary-border-color:                      transparent,
  button-secondary-text-color-hover:                  $cool-grey1,
  button-secondary-text-color-active:                 $cool-grey2,

  button-primary-border-color:                        $blue-deep,
  button-primary-background-color:                    $blue-deep,
  button-primary-text-color:                          $white,

  button-primary-border-color-hover:                  $blue-ocean,
  button-primary-background-color-hover:              $blue-ocean,

  button-primary-border-color-active:                 $blue-moon,
  button-primary-background-color-active:             $blue-moon
);
