// ==========================================================================
// functional color palette
// ==========================================================================

// general

$ui-blue-map: (
  text-color:                   $white,
  link-color:                   $white,
  background-color:             $blue-ocean
);

// ==========================================================================
// base elements
// ==========================================================================

@import 'blue/headings';
@import 'blue/forms';
@import 'blue/links';

$ui-blue-map: map-merge($ui-blue-map, $headings);
$ui-blue-map: map-merge($ui-blue-map, $forms);
$ui-blue-map: map-merge($ui-blue-map, $links);

// ==========================================================================
// components
// ==========================================================================

@import 'blue/buttons';

$ui-blue-map: map-merge($ui-blue-map, $buttons);
