// ==========================================================================
// functional color palette
// ==========================================================================

// general
$ui-grey-map: (
  text-color:                   $text-color,
  background-color:             $cool-grey3
);

// ==========================================================================
// base elements
// ==========================================================================

@import 'grey/links';
@import 'grey/headings';
@import 'grey/forms';

$ui-grey-map: map-merge($ui-grey-map, $links);
$ui-grey-map: map-merge($ui-grey-map, $headings);
$ui-grey-map: map-merge($ui-grey-map, $forms);

// ==========================================================================
// components
// ==========================================================================

@import 'grey/card';

$ui-grey-map: map-merge($ui-grey-map, $card);
