.page-header {
  color: $white;
  background-color: $black;
  position: relative;
  z-index: 10;

  a {
    color: $white;
  }
}

.page-header__wrapper {
  @include wrapper;
}

.page-header__content {
  position: relative;
}

.page-header__logo-wrap {
  padding: 10px 0;
  text-align: center;

}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 25px;
}
