.page-content {
  position: relative;
}

.page-main {
  @include respond-to(768) {
    padding-left: 210px;
  }
}

.page-sidebar {
  padding: 12px;

  @include respond-to(768) {
    position: fixed;
    padding-top: 57px;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid $cool-grey6;
    width: 210px;
    background-color: rgba($white, 0.9);
  }
}
