.page-app--harnessed {
  .form-control:not(.form-control--boolean) {
    .label,
    label,
    .form-control__label {
      color: $cool-grey11;
      font-weight: 500;
    }
  }

  .label {
    color: $cool-grey11;
    font-weight: 500;
  }

  [type=text],
  [type=email],
  [type=url],
  [type=tel],
  [type=password],
  [type=search],
  [type=number],
  [type=date],
  textarea,
  select,
  .readonly {
    border-color: #656b71;
  }

  a,
  .link,
  .button {
    font-weight: 500;
  }

  .hgroup {
    .display1,
    .display2,
    .display3,
    .heading1,
    .heading2,
    .heading3,
    .heading4,
    .heading5,
    .heading6,
    .body1,
    .body2,
    .body3,
    .body4,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-bottom: 8px;
    }
  }

  .card {
    margin-left: -17px; // 16 padding + 1 border
    width: calc(100% + 34px); // 16 padding * 2 + 2 border
    padding: 24px 16px;
  }

  .card-group__item > .card {
    margin-left: 0;
    width: 100%;
  }

  .page-section__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
