$headings: (
  display1-color:   $white,
  display2-color:   $white,
  display3-color:   $white,
  heading1-color:   $white,
  heading2-color:   $white,
  heading3-color:   $white,
  heading4-color:   $white,
  body1-color:      $white,
  body2-color:      $white,
  body3-color:      $white,
  body4-color:      $white,
  heading5-color:   $white,
  heading6-color:   $white
);
