@mixin button {
  @include font-size($body2-size);
  @include transition(min-width, 0.15);
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  background-color: $button-background-color;
  border: 1px solid $button-border-color;
  min-width: calc-target(160, $body2-size);
  cursor: pointer;
  padding: calc-target(12, $body2-size) calc-target(30, $body2-size);
  text-align: center;
  text-decoration: none;
  line-height: calc-target($body2-height, $body2-size, 1);
  color: $button-text-color;
  border-radius: 2em;
  font-weight: normal;
}

@mixin button-hover {
  color: $button-text-color-hover;
  border-color: $button-border-color-hover;
  background-color: $button-background-color-hover;
  text-decoration: none;
}

@mixin button-active {
  color: $button-text-color-active;
  border-color: $button-border-color-active;
  background-color: $button-background-color-active;
}

@mixin button-text {
  font-size: 1em;
  display: inline;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  min-width: 0;
  padding: 0;
  border-radius: 0;
}
