@mixin display1 {
  @include font-size($display1-size);
  margin: 0 0 12px;
  line-height: calc-target($display1-height, $display1-size, 1);
  color: $display1-color;
  font-weight: 100;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($display1-size-large);
    line-height: calc-target($display1-height-large, $display1-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, display1-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, display1-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, display1-color);
  }

  @include ui-light {
    color: $display1-color;
  }
}

@mixin display2 {
  @include font-size($display2-size);
  margin: 0 0 12px;
  line-height: calc-target($display2-height, $display2-size, 1);
  color: $display2-color;
  font-weight: 100;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($display2-size-large);
    line-height: calc-target($display2-height-large, $display2-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, display2-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, display2-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, display2-color);
  }

  @include ui-light {
    color: $display2-color;
  }
}

@mixin display3 {
  @include font-size($display3-size);
  margin: 0 0 12px;
  line-height: calc-target($display3-height, $display3-size, 1);
  color: $display3-color;
  font-weight: 100;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($display3-size-large);
    line-height: calc-target($display3-height-large, $display3-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, display3-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, display3-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, display3-color);
  }

  @include ui-light {
    color: $display3-color;
  }
}

@mixin heading1 {
  @include font-size($heading1-size);
  margin: 0 0 12px;
  line-height: calc-target($heading1-height, $heading1-size, 1);
  color: $heading1-color;
  font-weight: 100;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($heading1-size-large);
    line-height: calc-target($heading1-height-large, $heading1-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, heading1-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, heading1-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, heading1-color);
  }

  @include ui-light {
    color: $heading1-color;
  }
}

@mixin heading2 {
  @include font-size($heading2-size);
  margin: 0 0 12px;
  line-height: calc-target($heading2-height, $heading2-size, 1);
  color: $heading2-color;
  font-weight: 200;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($heading2-size-large);
    line-height: calc-target($heading2-height-large, $heading2-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, heading2-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, heading2-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, heading2-color);
  }

  @include ui-light {
    color: $heading2-color;
  }
}

@mixin heading3 {
  @include font-size($heading3-size);
  margin: 0 0 12px;
  line-height: calc-target($heading3-height, $heading3-size, 1);
  color: $heading3-color;
  font-weight: 200;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($heading3-size-large);
    line-height: calc-target($heading3-height-large, $heading3-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, heading3-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, heading3-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, heading3-color);
  }

  @include ui-light {
    color: $heading3-color;
  }
}

@mixin body1 {
  @include font-size($body1-size);
  margin: 0 0 12px;
  line-height: calc-target($body1-height, $body1-size, 1);
  color: $body1-color;
  font-weight: 300;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include respond-to(1024) {
    @include font-size($body1-size-large);
    line-height: calc-target($body1-height-large, $body1-size-large, 1);
  }

  @include ui-dark {
    color: map-get($ui-dark-map, body1-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, body1-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, body1-color);
  }

  @include ui-light {
    color: $body1-color;
  }
}

@mixin body2 {
  @include font-size($body2-size);
  margin: 0 0 12px;
  line-height: calc-target($body2-height, $body2-size, 1);
  color: $body2-color;
  font-weight: 300;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include ui-dark {
    color: map-get($ui-dark-map, body2-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, body2-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, body2-color);
  }

  @include ui-light {
    color: $body2-color;
  }
}

@mixin body3 {
  @include font-size($body3-size);
  margin: 0 0 12px;
  line-height: calc-target($body3-height, $body3-size, 1);
  color: $body3-color;
  font-weight: 400;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include ui-dark {
    color: map-get($ui-dark-map, body3-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, body3-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, body3-color);
  }

  @include ui-light {
    color: $body3-color;
  }
}

@mixin body4 {
  @include font-size($body4-size);
  margin: 0 0 12px;
  line-height: calc-target($body4-height, $body4-size, 1);
  color: $body4-color;
  font-weight: 400;
  text-transform: none;
  font-family: $primary-font-stack;
  letter-spacing: 0.2px;

  @include ui-dark {
    color: map-get($ui-dark-map, body4-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, body4-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, body4-color);
  }

  @include ui-light {
    color: $body4-color;
  }
}

@mixin heading4 {
  @include font-size($heading4-size);
  margin: 0 0 12px;
  line-height: calc-target($heading4-height, $heading4-size, 1);
  color: $heading4-color;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $primary-font-stack;
  letter-spacing: 0.5px;

  @include ui-dark {
    color: map-get($ui-dark-map, heading4-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, heading4-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, heading4-color);
  }

  @include ui-light {
    color: $heading4-color;
  }
}

@mixin heading5 {
  @include font-size($heading5-size);
  margin: 0 0 12px;
  line-height: calc-target($heading5-height, $heading5-size, 1);
  color: $heading5-color;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $primary-font-stack;
  letter-spacing: 0.5px;

  @include ui-dark {
    color: map-get($ui-dark-map, heading5-color);
  }

  @include ui-blue {
    color: map-get($ui-blue-map, heading5-color);
  }

  @include ui-grey {
    color: map-get($ui-grey-map, heading5-color);
  }

  @include ui-light {
    color: $heading5-color;
  }
}
