// ==========================================================================
// functional color palette
// ==========================================================================

// general
$ui-dark-map: (
  text-color:                  $white,
  background-color:            $gunmetal
);

// ==========================================================================
// base elements
// ==========================================================================

@import 'dark/headings';
@import 'dark/forms';

// ==========================================================================
// components
// ==========================================================================

@import 'dark/buttons';
@import 'dark/page-sections';
@import 'dark/links';

$ui-dark-map: map-merge($ui-dark-map, $headings);
$ui-dark-map: map-merge($ui-dark-map, $forms);
$ui-dark-map: map-merge($ui-dark-map, $buttons);
$ui-dark-map: map-merge($ui-dark-map, $page-sections);
$ui-dark-map: map-merge($ui-dark-map, $links);
